<div class="container-fluid card__background">
   <h1 class="display-4 text-center">Todos</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <input [(ngModel)]="item.name" (keyup.enter)="addTask()" type="text" placeholder="enter task here...."
               class="form-control"/>
        <div class="card mt-5">
          <ul class="list-group list-group-flush">

            <li class="row d-flex justify-content-center" *ngIf="displayItems.length===0">
              <b>No task found</b> 
            </li>

            <li *ngFor="let task of displayItems; let i = index" class="row d-flex smallScreen gap-10">
              <input (change)="changestatus(i)" [checked]="task.isDone" type="checkbox"
                     class="m-auto"
                     id="exampleCheck1"/>
              <label class="m-auto flex-1" [ngClass]="{'done':task.isDone}">
                {{task.name}}</label>
              <button class="btn text-danger"
                      (click)="deleteTask(i)"><i class="far fa-trash-alt"></i></button>
            </li>

            <li class="d-flex">
              <div class="btn text-left">
                {{getActiveCount()}} items left
              </div>
              <div class="flex-1 d-flex gap-10 justify-content-center">
                <button (click)="getAll()" class="btn">All</button>
                <button (click)="getActive()" class="btn">Active</button>
                <button (click)="getCompleted()" class="btn">Completed</button>
              </div>
              <button class="btn" (click)="clearCompleted()">Clear Completed</button>
            </li>

          </ul>
        </div>
      </div>
    </div>
</div>
